<div class="center">
  <h1> Brick is a new and improved package manager for Ruby. </h1>

  <br>

  <div class="row">
    <div class="col-md-4">
      <h3>
        <span class="glyphicon glyphicon-paperclip"></span>
        <%= @package_count %> total packages
      </h3>
    </div>

    <div class="col-md-4">
      <h3>
        <span class="glyphicon glyphicon-download"></span>
        12345 downloads today
      </h3>
    </div>

    <div class="col-md-4">
      <h3>
        <span class="glyphicon glyphicon-signal"></span>
        12345 total downloads
      </h3>
    </div>
  </div>

  <hr>

  <h2> Popular packages: </h2>
  <div class="row">
    <div class="col-md-4">
      <h4>devise</h4>
      <p>Flexible authentication solution for Rails with Warden</p>
      <p>3.5.1 published 1 week ago by josevalim</p>
    </div>
    <div class="col-md-4">
      <h4>devise</h4>
      <p>Flexible authentication solution for Rails with Warden</p>
      <p>3.5.1 published 1 week ago by josevalim</p>
    </div>
    <div class="col-md-4">
      <h4>devise</h4>
      <p>Flexible authentication solution for Rails with Warden</p>
      <p>3.5.1 published 1 week ago by josevalim</p>
    </div>
  </div>

  <hr>

  <h2>Getting started: </h2>
  <div class="row">
    <div class="col-md-4">
      <h4>Installing Brick</h4>
      <p>Coming soon.</p>
    </div>
    <div class="col-md-4">
      <h4>Documentation</h4>
      <p>Coming soon.</p>
    </div>
    <div class="col-md-4">
      <h4>Get a job</h4>
      <p>People are hiring!</p>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3 class="center">Sign up for our mailing list to get project updates:</h3>
    <form class="navbar-form navbar-right" action="https://github.us9.list-manage.com/subscribe/post?u=fcd8b7ce315167ae596818804&amp;id=669586050b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
      <div class="form-group">
        <input type="email" placeholder="Email" value="" name="EMAIL" id="mce-EMAIL" class="form-control">
      </div>
      <button type="submit" class="btn btn-success">Subscribe</button>
    </form>
  </div>

  <div class="col-md-6">
    <div class="center">
      <h3>Or follow us on Twitter:</h3>
      <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.c2221624a19804fbe9017920859c89ce.en.html#_=1433199402589&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=brickpm&amp;show_count=false&amp;show_screen_name=true&amp;size=l" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="position: static; visibility: visible; width: 144px; height: 28px;"></iframe>
      <script id="twitter-wjs" src="http://platform.twitter.com/widgets.js"></script>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
  </div>
</div>
